{% extends 'basic.html' %}

{% load static %}

{% block title %}Log out {% endblock %}
{% block home %} active {% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<div class="container mt-9" >
    <img src={% static "images/logoplain.png" %} style="display: block; justify-content: space-between; max-width: 25%; margin: auto; margin-top: 50px;" alt="logo" class="center"/>
    <h1 style="color: #094a89; font-size: 75px; text-align: center;"> Infinex </h1>
</div>
<div class="container mt-4">
    <h1 >Important Notice</h1>
<div class="row mt-4">
  {% for i in notice %}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <p class="card-text"><a href="/notice/{{i.id}}/">View all recent updates.</a></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
{% endblock %}
