{% extends 'admin.html' %}

{% block title %} {{application.name}} {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
    <div class="row">
        <h1 style="text-align: center;">Personal Details</h1>
            <hr>
        <div class="col-md-4">
            <div class="profile-img">
                {% if user.application.student_profile.url %}
                <img src="{{application.student_profile.url}}" alt="" width="310px" height="270px">
                {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Course :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.course}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Full Name :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email ID :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.email}}</p>
                        </div>
                    </div>
                    {% if user.application.phone_no %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone Number :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.phone_no}}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>Address :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.address}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<hr>
<div class="container mt-4">
    <div class="row">
        <h1 style="text-align: center;">Educational Details</h1>
            <hr>
        <div class="col-md-4">
            <div class="profile-img">
                <h3>10th Std Details</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>10th Percentage :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.ssc_percentage}}%</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>10th Marksheet :</label>
                        </div>
                        <div class="col-md-6">
                            <p><a href="{{application.ssc_marksheet.url}}">View 10th Marksheet</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>10th Passing Certificate :</label>
                        </div>
                        <div class="col-md-6">
                            <p><a href="{{application.ssc_passing_certificate.url}}"> View 10th Passing Certificate</a></p>
                        </div>
                    </div>
                    {% if user.application.phone_no %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>10th Leaving Certificate :</label>
                        </div>
                        <div class="col-md-6">
                            <p><a href="{{application.ssc_leaving_certificate.url}}">View 10th Leaving Certificate</a></p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
</div>
<hr>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <h3>12th Std Details</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>12th Percentage :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.hsc_percentage}}%</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>12th Marksheet :</label>
                        </div>
                        <div class="col-md-6">
                            <p><a href="{{application.hsc_marksheet.url}}">View 12th Marksheet</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>12th Passing Certificate :</label>
                        </div>
                        <div class="col-md-6">
                            <p><a href="{{application.hsc_passing_certificate.url}}">View 12th Marksheet</a></p>
                        </div>
                    </div>
                    {% if user.application.phone_no %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>12th Leaving Certificate :</label>
                        </div>
                        <div class="col-md-6">
                            <p><a href="{{application.hsc_leaving_certificate.url}}">View 12th Leaving Certificate</a></p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
</div>
<hr>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <h3>DOB and JEE Scorecard</h3>
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Common Entrance Test Percentile :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.cet_percentile}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Common Entrance Test Scorecard :</label>
                        </div>
                        <div class="col-md-6">
                            <p><a href="{{application.cet_scorecard.url}}">View Common Entrance Test Scorecard</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>JEE Percentile :</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{application.jee_percentile}}</p>
                        </div>
                    </div>
                    {% if user.application.phone_no %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>JEE Scorecard :</label>
                        </div>
                        <div class="col-md-6">
                            <p><a href="{{application.jee_scorecard.url}}">View JEE Scorecard</a></p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
</div>
<hr>
<br>
<h4>Click here to edit the status</h4>
<a href="/application_status/{{application.id}}/" class="btn btn-secondary" style="width: 20rem; text-align: center;">Edit Status</a>
{% endblock %}